@model IEnumerable<ProductViewMdoel>  

@{
    ViewData["Title"] = "Home Page";
}



<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://learn.microsoft.com/aspnet/core">سلام </a>.</p>
</div>

<table class="table">
    <thead>
        <tr>
            <th>id</th>
            <th>Title</th>
        
          
        </tr>
    </thead>
    <tbody>
        @foreach (var product in Model)
        {
            <tr>
             
                <td>@product.Id</td>
                <td>@product.Title</td>
             
             
            </tr>
        }
    </tbody>
</table>

<a asp-action="Index" asp-route-No="1">1</a>
<a asp-action="Index" asp-route-No="2">2</a>
<a asp-action="Index" asp-route-No="3">3</a>
<a asp-action="Index" asp-route-No="4">4</a>
<a asp-action="Index" asp-route-No="5">5</a>
<a asp-action="Index" asp-route-No="6">6</a>
<a>.....</a>
